// Lifu basic style file.
// ======================

// Add dependencies.

@import "../bower_components/susy/sass/susy";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/reset-css/reset";

@font-face {
  font-family: 'Roboto';
  src: url("../font/Roboto-Light.ttf");
}

// Variables.

$susy: (
  columns: 3,
  gutters: 1/10,
);

$phone-only-breakpoint: (
  max-width: 767px,
);

$tablet-only-breakpoint: (
  min-width: 768px,
  max-width: 1119px,
);

$big-screen-up-breakpoint: (
  min-width: 1200px,
);

$font-size: 16px;
$base-margin: 15px;

$form-element-height: 40px;

$text-color: #666;

$grey-color-border: #E6E6E6;
$grey-color-bg: #F9F9F9;
$dark-color-bg: #333;

// Mixin.

@mixin to-margin-last($side: right, $margin: $base-margin) {
  margin-#{$side}: $margin;

  &:last-child {
    margin-#{$side}: 0;
  }
}

// Import other files theme.

@import "theme";
@import "typography";
@import "buttons";
@import "forms";
@import "errors";
@import "login";
@import "maintenance";
@import "elements";
@import "comments";